<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Password Recovery</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
<main class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5 shadow-lg">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Password Recovery</h2>

                    <div th:if="${error != null}" class="alert alert-danger" role="alert">
                        [[${error}]]
                    </div>
                    <div th:if="${message != null}" class="alert alert-success" role="alert">
                        [[${message}]]
                    </div>

                    <form th:action="@{/forgot_password}" method="post">
                        <p class="mb-3">We will send you a link to recover your password to your email.</p>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" id="email" name="email" placeholder="Enter your email" required
                                   autofocus class="form-control"/>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>