<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width: 30rem;">
        <div class="card-body">
            <h3 class="card-title text-center mb-4">Login</h3>
            <div th:if="${successMessage}" class="alert alert-success" role="alert">
                <p th:text="${successMessage}"></p>
            </div>
            <div class="error-message alert alert-danger" role="alert" th:if="${param.error}">
                <p th:text="#{login.error.invalidCredentials}"></p>
            </div>

            <div th:if="${param.logout}" class="alert alert-info" role="alert">
                <p th:text="#{login.info.logout}"></p>
            </div>
            <form action="#" th:action="@{/login}" method="post" th:object="${user}">
                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" id="username" name="username" class="form-control"/>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" id="password" name="password" class="form-control"/>
                </div>
                <div class="d-grid">
                    <button type="submit" value="Log in" class="btn btn-primary">Log In</button>
                </div>
            </form>
            <div class="mt-3 text-center">
                <a href="/registration" th:href="@{/registration}" class="btn btn-link">Register here</a>
            </div>
            <div class="text-center">
                <a href="/forgot_password" th:href="@{/forgot_password}" class="btn btn-link">Forgot your password?</a>
            </div>
        </div>
    </div>
</div>
<script src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
</body>
</html>